
 // Cores   
 $button:#FF52BF; 
 $dark: hsl(192, 100%, 9%);

 //form
 $light-color: #f8fadc ;
 $dark-color-50: #797984;
 $dark-color-100: #312d37;
 $dark-color-full:#000;


 $color-purple-50:#7c3aed;
 $color-purple-100:#a855f7;
 $color-purple-full:#bf46ef;

 






 //fonte
 $ff-all:'Poppins', sans-serif;
 
