@import '../abstract/variaveis';

footer {
  background-color: $dark;    
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}

a {
  color: white;
}

button{
  color: white;
  background:$button;    
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 1rem 3rem;
}

input {
   height: 3rem;
   outline: none;
   border: none;
   border-radius: 0.3rem;
   padding-left: 1rem;
}

.img__footer {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
    margin-top: 1.5rem;
}



@media screen  and (min-width:1440px){

  footer {
    margin-top: 1em;
  }

.sec__footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.contect , .news {
  margin:3rem;
}

form {
  display: flex;
  gap: 1em;

  input {
   padding: 0em 2em;
    
  }



  #error {
   display: none;
  }
}

}


 
    


