
@import '../abstract/variaveis';

nav {

    display: flex;
    justify-content: space-around;

    h1 {
        font-family: "Poppins", sans-serif;
        margin-bottom: 1.5rem;
    }

  

     .button-nav {
        padding: 0.5rem 3rem;
        color: hsl(322, 100%, 66%);
        border: 1px solid hsl(322, 100%, 66%);
        border-radius: 2rem;
        background: transparent;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
        cursor: pointer;
        padding: 0.4rem 1.2rem;
}

}