
@import '../abstract/variaveis';

@import '../abstract/variaveis';

nav {

    display: flex;
    justify-content: space-around;

    

    img {
        max-width: 10rem;
    }



    h1 {
        font-family: $ff-all;
        margin-bottom: 1.5rem;
    }

    .intro__text {
        font-family: $ff-all;
        margin: 0 2rem 2rem 2rem;
    }

  

     .button-nav {
        padding: 0.5rem 3rem;
        color:$button;
        border: 1px solid $button;
        border-radius: 2rem;
        background: transparent;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
        cursor: pointer;
        padding: 0.4rem 1.2rem;
}

}

@media screen and (min-width:1440px) {

   h1 {
    font-size: 2.85rem;
   }

   .main__btn {   
   padding: 1.6rem 6rem;
   
   
   }

   
   ul {
    display: flex;
    gap: 1em; 
    
    li {
        
        list-style-type: none;
      }

      a {
        text-decoration: none;
        color: black;
      }
    
}
}